<div class="wrapper">
  <header class="header-2 skew-separator"
    style="background-image: url('../../assets/images/image\ \(6\).jpg');  background-size: 100% auto; background-repeat: no-repeat;">
    <nav class="navbar navbar-expand-lg navbar-dark ">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
          <img src="../../assets/images/nirmaan favicon.png" style="padding-right:5px; padding-bottom: 5px;"><b
            class="text-primary">NIRMAAN360</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-primary"
          aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
          <span class="material-symbols-outlined text-gray-dark">
            menu
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-primary">
          <div class="navbar-collapse-header">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a routerLink="//">
                  <img src="../../assets/images/nirmaan favicon.png">
                  <b class="text-primary">NIRMAAN360</b></a>
              </div>
              <div class="col-6 collapse-close">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-primary"
                  aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>
          <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item"><a class="nav-link" style="color:black;" routerLink="/">Home</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="javascript:;" id="navbar-primary_dropdown_1" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:black;">Products</a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-primary_dropdown_1">
                <a class="dropdown-item" routerLink="/products">Products Details</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/coreTools">Core Tools</a>
                <a class="dropdown-item" routerLink="/constructionOps">Construction Operations</a>

                <!-- <a class="dropdown-item" routerLink="/projectAccounting">Project Accounting</a> -->
              </div>
            </li>
            <li class="nav-item"><a class="nav-link" style="color:black;" routerLink="/pricing">Pricing</a></li>

            <li class="nav-item"><a class="nav-link" style="color:black;" routerLink="/about">About</a></li>
            <li class="nav-item"><a class="nav-link" style="color:black;" routerLink="/contact">Contact</a></li>

            <li class="nav-item ml-2 mt-3"><a class="nav-link-warning" routerLink="/login"><b>Log in</b></a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="page-header">
      <div class="page-header"></div>
      <div class="container pt-50">
        <div class="row">
          <div class="col-md-8 mx-auto text-center">
            <h2 class="display-2">We want to enhance the way INDIA builds </h2>
          </div>
        </div>
        <div class="row">
          <div class="floating-box bg-default">
            <div class="box text-center">
              <div class="icon icon-shape bg-success icon-xl rounded-circle text-white">
                <span class="material-symbols-outlined" style="font-size: 37px;">
                  rocket_launch
                </span>
              </div>
              <h2 class="lead text-white p-4">Construction Industry in India directly employs over 50 million people
                and
                makes up more than 12% of the nation's Gross Domestic Product. It is the engine of the Indian economy.
                We at NIRMAAN360 are poised to find better ways to manage this huge market. We have discovered new
                ways
                to modify the sector with improved communication, procedures, and strategies to accomplish more on the
                job site.</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="section project-2 mb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center my-5">
          <h3 class="display-3">What do we want to ACHIEVE?</h3>
          <p class="lead">The law of DHARMA is service to fellow beings. We are trying to accomplish this by helping
            people manage CONSTRUCTION efficiently.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="card card-project"
            style="background-image: url(../../assets/images/productivity.jpg); background-size: 100% 100%; background-repeat: no-repeat; min-height: 433px;">
            <a href=" javascript:;">
              <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle-primary mx-auto">
                <span class="material-symbols-outlined pt-2" style="font-size: 35px;">
                  productivity
                </span>
              </div>
            </a>
            <div class="card-body">
              <h4 class="card-title mt-3" style="color:white;"><b>Productivity</b></h4>
              <p class="card-description" style="color:white;">Improving productivity in the Construction industry
                will lead to faster
                project completion, reduced costs, improved quality, increased safety, greater customer satisfaction,
                and enhanced competitiveness, ultimately resulting in sustained growth and profitability.</p>
              <div class="card-footer">
                <a class="btn btn-link text-primary" type="button" routerLink="/products">
                  <i class="ni ni-glasses-2 mr-2"></i>
                  <span>Explore our Products!</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card card-project"
            style="background-image: url(../../assets/images/growth.jpg); background-size: 100% 100%; background-repeat: no-repeat; min-height: 433px;">
            <a routerLink="/ javascript:;">
              <div class="icon icon-lg icon-shape icon-shape-default shadow rounded-circle-primary mx-auto">
                <span class="material-symbols-outlined " style="font-size: 35px;">
                  grade
                </span>
              </div>
            </a>
            <div class="card-body">
              <h4 class="card-title mt-3" style="color:white;"><b>Growth</b></h4>
              <p class="card-description" style="color:white;">The Construction industry will continue to grow in the
                coming years due to
                increasing urbanization, infrastructure development, and demand for energy-efficient buildings,
                alongside the adoption of new technologies. We need great methods to manage the pace.</p>
              <div class="card-footer">
                <a class="btn btn-link text-success" type="button" routerLink="/products">
                  <i class="ni ni-key-25 mr-2"></i>
                  <span>Discover our solutions!</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card card-project"
            style="background-image: url(../../assets/images/quality.jpg); background-size: 100% 100%; background-repeat: no-repeat; min-height: 433px; ">
            <a routerLink="/ javascript:;">
              <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle-primary mx-auto">
                <span class="material-symbols-outlined" style="font-size: 35px;">
                  saved_search
                </span>
              </div>
            </a>
            <div class="card-body">
              <h4 class="card-title mt-3" style="color:white;"><b>Quality</b></h4>
              <p class="card-description" style="color:white;">Quality is of utmost importance in Construction as it
                ensures that buildings
                and infrastructure are safe, durable, and functional, while also meeting the needs and expectations of
                clients and users. Forge professionalism and perfection in your project-delivery methods</p>
              <div class="card-footer">
                <a class="btn btn-link text-warning" type="button" routerLink="/products">
                  <i class="ni ni-notification-70 mr-2"></i>
                  <span>Check Our Services!</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="card card-project"
            style="background-image: url(../../assets/images/database.jpg); background-size: 100% 100%; background-repeat: no-repeat; min-height: 433px;">
            <a href=" javascript:;">
              <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle-primary mx-auto">
                <span class="material-symbols-outlined" style="font-size: 35px;">
                  database
                </span>
              </div>
            </a>
            <div class="card-body">
              <h4 class="card-title mt-3" style="color:white;"><b>Database</b></h4>
              <p class="card-description" style="color:white;">Data and information play a critical role in
                Construction management, as
                they provide insights into project progress, resource allocation, cost management, quality control,
                and risk mitigation, enabling Construction managers to make informed decisions and optimize project
                outcomes.</p>
              <div class="card-footer">
                <a class="btn btn-link text-secondary" type="button" routerLink="/pricing">
                  <i class="ni ni-glasses-2 mr-2"></i>
                  <span>Learn More!</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card card-project"
            style="background-image: url(../../assets/images/eco.jpg); background-size: 100% 100%; background-repeat: no-repeat; min-height: 433px;">
            <a href=" javascript:;">
              <div class="icon icon-lg icon-shape icon-shape-default shadow rounded-circle-primary mx-auto">
                <span class="material-symbols-outlined" style="font-size: 35px;">
                  eco
                </span>
              </div>
            </a>
            <div class="card-body">
              <h4 class="card-title mt-3" style="color:white;"><b>Ecosystem</b></h4>
              <p class="card-description" style="color:white;">We want to create a strong and supportive Construction
                ecosystem as it
                provides a favorable environment for innovation, investment, and collaboration, fostering the
                development of new technologies, products, and services. Become a Construction industry pioneer!</p>
              <div class="card-footer">
                <a class="btn btn-link text-danger" type="button" routerLink="/pricing">
                  <i class="ni ni-key-25 mr-2"></i>
                  <span>Begin Journey!</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card card-project"
            style="background-image: url(../../assets/images/digital.jpg); background-size: 100% 100%; background-repeat: no-repeat; min-height: 433px;">
            <a href=" javascript:;">
              <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle-primary mx-auto">
                <span class="material-symbols-outlined" style="font-size: 35px;">
                  devices
                </span>
              </div>
            </a>
            <div class="card-body">
              <h4 class="card-title mt-3" style="color:white;"><b>Digitization</b></h4>
              <p class="card-description" style="color:white;">Digitization is essential in Construction management,
                as it enables the
                effective collection, analysis, and sharing of project data, leading to improved collaboration,
                transparency, and decision-making. Become competitive in a rapidly evolving industry, by embracing new
                technologies and innovation.</p>
              <div class="card-footer">
                <a class="btn btn-link text-info" type="button" routerLink="/pricing">
                  <i class="ni ni-notification-70 mr-2"></i>
                  <span>Get started Today!</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-10 mx-auto">
          <h2 class="title mb-5 text-center"><b>We believe that Collaboration in Construction is <br>THE FUTURE!</b>
          </h2>
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="card card-blog card-plain">
                <div class="card-image ">
                  <a href="javascript:;">
                    <img class="img rounded" src="../../assets/images/download-1.png"></a>
                </div>
                <div class="card-body">
                  <h4 class="card-title"><a routerLink="/https://www.prnewswire.com/news-releases/new-research-from-plangrid-and-fmi-identifies-factors-costing-the-construction-industry-more-than-177-billion-annually-300689826
                    ">As per Plangrid research,</a></h4>
                  <p class="card-description">48% of Construction professionals reported that miscommunication and
                    rework were major causes of delays and cost overruns on Construction projects.</p>

                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="card card-blog card-plain">
                <div class="card-image ">
                  <a href="javascript:;">
                    <img class="img rounded" src="../../assets/images/download-2.png"></a>
                </div>
                <div class="card-body">
                  <h4 class="card-title"><a
                      href="https://www.buildingpointmwgc.com/wp-content/uploads/2019/08/Dodge-SmartMarket-Report-Improving-Performance-With-Project-Data-2019.pdf">Dodge
                      Data &amp; Analytics</a></h4>
                  <p class="card-description">found that 74% of Construction professionals believe that better
                    communication and collaboration between stakeholders could help reduce project delays and costs.
                  </p>

                </div>
              </div>
            </div>
            <div class="col-lg-4 col-12">
              <div class="card card-blog card-plain">
                <div class="card-image ">
                  <a href="javascript:;">
                    <img class="img rounded" src="../../assets/images/download-3.png"></a>
                </div>
                <div class="card-body">
                  <h4 class="card-title"><a
                      href="https://dbia.org/wp-content/uploads/2021/09/FMI-DB-Market-Research-2021_2025.pdf"
                      target="_blank">A study
                      by FMI Corporation </a></h4>
                  <p class="card-description">discovered that 87% of Construction professionals believe that the use
                    of technology and collaboration tools is critical to the success of Construction projects in the
                    future</p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section accordion-1">
    <div class="container">
      <div class="row ">
        <div class="col-md-6 mx-auto text-center">
          <h2 class="title"><b>Frequently asked questions</b></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 ml-auto">
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link w-100 text-primary text-left" type="button" data-toggle="collapse"
                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <span>What inspired us to create NIRMAAN360 for the Construction industry?</span>
                    <i class="ni ni-bold-down float-right pt-1"></i>
                  </button>
                </h5>
              </div>
              <div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body opacity-8">The founder/CEO of NIRMAAN360 - <a
                    href="https://www.linkedin.com/in/hritik-kothari/">Hritik Sanjay Kothari</a>, has been
                  learning about the Construction Industry for 9 years. Having experienced the Construction milieu in
                  both INDIA and USA, he realized that small and medium-sized Contractors in India want customized
                  IT-based solutions to manage their businesses but it is too difficult and expensive to access the
                  same. This motivated us to develop a contractor-powered, easy-to-use, budget/user-friendly software
                  solution to efficiently manage Construction businesses nationwide. We want to empower small and
                  medium-sized Construction companies to delegate all their tedious tasks to us. We want them to be
                  more creative with their time!</div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link w-100 text-primary text-left collapsed" type="button"
                    data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <span>What specific problems does NIRMAAN360 address for Construction companies?</span>
                    <i class="ni ni-bold-down float-right pt-1"></i>
                  </button>
                </h5>
              </div>
              <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body opacity-8">Currently, the majority of Construction projects in INDIA are managed
                  with the mishmash of several different products - Whatsapp (for communication), Photos (for
                  progress), Excel (for budgeting), Drive (for doc storage), etc, to name a few. If you scale this
                  randomness over more than 3 projects, it gets very hard to keep track of every single thing which
                  leads to information loss resulting in inefficient project delivery. With NIRMAAN360, we have come
                  up with a <a routerLink="/products">one-stop-shop</a> solution for end-to-end Construction project
                  collaboration needs. Upscale
                  with us!</div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link w-100 text-primary text-left collapsed" type="button"
                    data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree">
                    <span>What features does NIRMAAN360 offer that other project management tools do not?</span>
                    <i class="ni ni-bold-down float-right pt-1"></i>
                  </button>
                </h5>
              </div>
              <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body opacity-8">There are maybe less than five (5) companies in the Indian
                  Construction SaaS(Software as a Service) industry currently which makes the field very fertile to
                  sow seeds in. We always
                  encourage competition and shared growth of everyone only at the expense of making Construction
                  companies successful. We believe our solutions are niche specific and much more advanced than the
                  existing products in the market at a similar cost. Try our <a routerLink="/pricing">free demo</a> and
                  check it out for yourself.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                  <button class="btn btn-link w-100 text-primary text-left" type="button" data-toggle="collapse"
                    data-target="#collapseFour" aria-controls="collapseFour">
                    <span>What geographical areas does NIRMAAN360 serve?</span>
                    <i class="ni ni-bold-down float-right pt-1"></i>
                  </button>
                </h5>
              </div>
              <div class="collapse" id="collapseFour" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body opacity-8">We're proudly based in India and we understand that Construction is a
                  global industry with unique challenges and opportunities in different regions and markets. That's
                  why we've designed our software to be flexible and adaptable to meet the needs of Construction
                  professionals anywhere in the world. Whether you're a Construction company in India or a contractor
                  in another part of the world, we invite you to explore our solutions and discover how we can help
                  you achieve your goals. <a routerLink="/contact_us">Contact us</a> today to learn more.</div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFifth">
                <h5 class="mb-0">
                  <button class="btn btn-link w-100 text-primary text-left" type="button" data-toggle="collapse"
                    data-target="#collapseFifth" aria-controls="collapseFifth">
                    <span>How does NIRMAAN360 handle updates and improvements to its product over time?</span>
                    <i class="ni ni-bold-down float-right pt-1"></i>
                  </button>
                </h5>
              </div>
              <div class="collapse" id="collapseFifth" aria-labelledby="headingFifth" data-parent="#accordionExample">
                <div class="card-body opacity-8">At NIRMAAN360, we believe that our customers are our most valuable
                  asset. That's why we take their feedback seriously and use it as a foundation for our product
                  updates. Our Construction SaaS solutions are designed to meet the evolving needs of the Construction
                  industry, and we recognize that those needs may vary depending on the region, industry, and client.
                  By prioritizing customer feedback and fostering a community-led approach to product development, we
                  will be able to build strong relationships with our customers and deliver the solutions they need to
                  succeed in the Construction industry.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>