<div class="wrapper">
  <header class="header-5">
    <app-navbar></app-navbar>
    <div class="page-header" style="min-height: 00vh !important; max-height: 2000px;">
      <div class=" container" style=" padding-top: 30px !important;">
        <div class="row align-items-center text-left">
          <div class="col-lg-5 col-12">
            <h1 class="display-3">Join our Launch Waitlist!</h1>
            <p class="lead pb-4">Thank you for your interest in our product. We are thrilled to see your enthusiasm
              and we cannot wait to share our revolutionary product with you. However, as our product is still under
              development, we are not able to offer access to our platform at this time. Join our waitlist to be the
              first to know about our launch updates and early bird offers!</p>
            <div class="row row-input">
              <div class="col-sm-8 col-12">
                <input class="form-control" type="email" name="email" id="signupSrEmail" placeholder="Your email"
                  aria-label="Your email">
              </div>
              <div class="col-sm-4 col-12 pl-lg-0">
                <button class="btn btn-primary btn-block" type="submit">JOIN US!</button>
              </div>
            </div>
          </div>
          <div class="col-lg-7 col-12 pl-0">
            <img class="ml-lg-5" src="../../assets/images/computer-login-concept-illustration-114360-7962.jpg" width="100%">
          </div>
        </div>
      </div>
    </div>
  </header>

</div>
