<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="//">
      <img src="../../assets/images/SalesGenius (2)crop.png" style="padding-right: 5px; padding-bottom: 5px" /> <img
        src="../../assets/images/SalesGenius (1)crop.png" style="padding-right: 5px; padding-bottom: 5px" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-primary"
      aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-primary">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a routerLink="//">
              <img src="../../assets/images/SalesGenius (2)crop.png" />

              <b class="text-primary ">SalesGenius</b></a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-primary"
              aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav ml-lg-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="//"><b>Home</b></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/examples"><b>Examples</b></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/services-details"><b>Services</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/how-to-use"><b>How TO Use</b></a>
        </li>
      </ul>
    </div>
  </div>
</nav>