<app-navbar></app-navbar>
<!-- <div class="wrapper">
    <header class="header-5 homeBG">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" routerLink="//">
                    <img src="../../assets/images/SalesGenius (2)crop.png"
                        style="padding-right: 5px; padding-bottom: 5px" /> <img
                        src="../../assets/images/SalesGenius (1)crop.png"
                        style="padding-right: 5px; padding-bottom: 5px" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-primary"
                    aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-primary">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                                <a routerLink="//">
                                    <img src="../../assets/images/SalesGenius (2)crop.png" />

                                    <b class="text-primary ">SalesGenius</b></a>
                            </div>
                            <div class="col-6 collapse-close">
                                <button type="button" class="navbar-toggler" data-toggle="collapse"
                                    data-target="#navbar-primary" aria-controls="navbar-primary" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                    <span></span>
                                    <span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="//"><b>Home</b></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" routerLink="/examples"><b>Examples</b></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" routerLink="/services-details"><b>Services</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/how-to-use"><b>How TO Use</b></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div style="min-height: 0vh !important">
            <div class="container pb-9" style="padding-top: 5vh !important">
                <div class="row align-items-center text-left">
                    <div class="col-lg-6 col-12">
                        <h1 class="display-3 pt-6" style="color: white">NAMASTE</h1>
                        <p class="lead pb-4 text-justify" style="color: white">
                            We help you manage Construction project costs, documents, and
                            processes from inception through completion to increase
                            efficiency, lower risks and magnify rewards.
                        </p>
                        <p class="lead pb-4 text-justify" style="color: white">
                            <b><b>Let's DIGITIZE the CONSTRUCTION INDUSTRY!</b></b>
                        </p>
                        <div class="row row-input">
                            <div class="col-sm-4 col-md-5 col-12 pl-lg-0">
                                <a class="btn btn-primary btn-block" routerLink="/pricing" type="button">
                                    Start Free
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 pl-0">
                        <img class="ml-lg-5 hide" src="../../assets/images/SalesGenius crop.png" width="90%" />
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="section features-1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 mx-auto text-center">
                    <h3 class="display-3">Build Smarter with NIRMAAN360</h3>
                    <p class="lead">
                        All-encompassing Construction Management needs in one easy and
                        affordable tool. Collaborate with everyone in real-time.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="info text-center">
                        <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
                            <i class="ni ni-settings-gear-65"></i>
                        </div>
                        <h6 class="info-title text-uppercase text-primary">
                            Communicate Effectively
                        </h6>
                        <p class="description opacity-8">
                            Make a schedule of upcoming activities. Allocate tasks, work from
                            current drawings, and align the field and office digitally. Keep
                            all contacts handy.
                        </p>
                        <a class="text-primary" routerLink="/products">
                            <span class="mr-1">Explore the Solutions</span>
                            <i class="ni ni-bold-right text-primary"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info text-center">
                        <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle">
                            <i class="ni ni-atom"></i>
                        </div>
                        <h6 class="info-title text-uppercase text-success">Reduce Risks</h6>
                        <p class="description opacity-8">
                            Capture and collect progress photos and as-built project
                            information. Daily Reports keep you safe and informed. Apply best
                            practices to all the projects.
                        </p>
                        <a class="text-primary" routerLink="/products">
                            <span class="mr-1">Learn about our products</span>
                            <i class="ni ni-bold-right text-primary"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info text-center">
                        <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle">
                            <i class="ni ni-world"></i>
                        </div>
                        <h6 class="info-title text-uppercase text-warning">
                            Impress Clients
                        </h6>
                        <p class="description opacity-8">
                            Give customers their own unique login, allow them to track progress on the build and send
                            messages to them
                            in the portal
                        </p>
                        <a class="text-primary" routerLink="/products">
                            <span class="mr-1">Check out Services</span>
                            <i class="ni ni-bold-right text-primary"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="blogs-2 py-3 pt-5">
        <div class="container-fluid">
            <div class="row mb-md-5">
                <div class="col-md-8 mx-auto">
                    <h3 class="display-3 text-center">
                        Become the No.1 Construction Company!
                    </h3>
                    <p class="lead text-center">
                        With our Construction management software, keep all details in
                        order, avoid delays, and run projects smoothly from start to finish.
                        With our tools, connect your teams and project information to make
                        better decisions faster.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card card-blog card-background" data-animation="zooming">
                        <div class="full-background" style="
                  background-image: url('../../assets/images/Leadr-HomePage-Hero.png');
                "></div>
                        <a routerLink="/coreTools">
                            <div class="card-body">
                                <div class="content-bottom">
                                    <h6 class="card-category text-white opacity-8">Core Tools</h6>
                                    <h5 class="card-title">
                                        People. Tasks. Documents. Reports. Customizations.
                                    </h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-blog card-background" data-animation="zooming">
                        <div class="full-background" style="
                  background-image: url('../../assets/images/052820022218.jpg');
                "></div>
                        <a routerLink="/constructionOps">
                            <div class="card-body">
                                <div class="content-bottom">
                                    <h6 class="card-category text-white opacity-8">
                                        Construction Operations
                                    </h6>
                                    <h5 class="card-title">
                                        Plans. Schedules. RFIs. Daily Reports. Site Photos.
                                    </h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-blog card-background" data-animation="zooming">
                        <div class="full-background" style="
                  background-image: url('../../assets/images/iStock-983321926-own-bookkeeping-1024x683.jpg');
                "></div>
                        <a routerLink="/projectAccounting">
                            <div class="card-body">
                                <div class="content-bottom">
                                    <h6 class="card-category text-white opacity-8">
                                        Project Accounting
                                    </h6>
                                    <h5 class="card-title">
                                        Contracts. Invoices. Budgets. Change Orders.
                                    </h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-blog card-background" data-animation="zooming">
                        <div class="full-background" style="
                  background-image: url('../../assets/images/training-1.jpg');
                "></div>
                        <a routerLink="/trainingAndSupport">
                            <div class="card-body">
                                <div class="content-bottom">
                                    <h6 class="card-category text-white opacity-8">
                                        Product Training
                                    </h6>
                                    <h5 class="card-title">
                                        FAQs. On-Demand Videos. Customer Support.
                                    </h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section accordion-1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto text-center">
                    <h2 class="title mb-3 mt-5">Frequently Asked Questions</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ml-auto">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link w-100 text-primary text-left" type="button"
                                        data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">
                                        <span>Why should I use NIRMAAN360?</span>
                                        <i class="ni ni-bold-down float-right pt-1"></i>
                                    </button>
                                </h5>
                            </div>
                            <div class="collapse show" id="collapseOne" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="card-body opacity-8">
                                    According to
                                    <a href="https://dbia.org/wp-content/uploads/2021/09/FMI-DB-Market-Research-2021_2025.pdf"
                                        target="_blank">FMI research</a>, Construction firms that choose to work with
                                    management
                                    technologies&nbsp;can realize greater value in the three
                                    areas—financial performance, productivity, and
                                    reputation—while ensuring long-term success as the industry
                                    evolves.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link w-100 text-primary text-left collapsed" type="button"
                                        data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                        <span>What do i gain by using NIRMAAN360?</span>
                                        <i class="ni ni-bold-down float-right pt-1"></i>
                                    </button>
                                </h5>
                            </div>
                            <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo"
                                data-parent="#accordionExample">
                                <div class="card-body opacity-8">
                                    You will&nbsp;have total oversight and document control needed
                                    to deliver projects on time and within budget by implementing
                                    a cloud-based Construction project management software. On top
                                    of it you experience&nbsp;better communication, better
                                    prediction accuracy, lower losses, and more impartial dispute
                                    resolution.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link w-100 text-primary text-left collapsed" type="button"
                                        data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        <span>How difficult is it to operate NIRMAAN360?</span>
                                        <i class="ni ni-bold-down float-right pt-1"></i>
                                    </button>
                                </h5>
                            </div>
                            <div class="collapse" id="collapseThree" aria-labelledby="headingThree"
                                data-parent="#accordionExample">
                                <div class="card-body opacity-8">
                                    NIRMAAN360 is extremely easy to use, but that doesn’t mean you
                                    won’t have questions. Send us an email (hsk@nirmaan360.com) or
                                    call us (+91-9426255832) and we will surely solve your
                                    problems. Our Knowledge base containing
                                    <a routerLink="/trainingAndSupport">training videos</a> is on
                                    the way.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h5 class="mb-0">
                                    <button class="btn btn-link w-100 text-primary text-left" type="button"
                                        data-toggle="collapse" data-target="#collapseFour" aria-controls="collapseFour">
                                        <span>Which type of construction projects can be managed on
                                            NIRMAAN360?</span>
                                        <i class="ni ni-bold-down float-right pt-1"></i>
                                    </button>
                                </h5>
                            </div>
                            <div class="collapse" id="collapseFour" aria-labelledby="headingFour"
                                data-parent="#accordionExample">
                                <div class="card-body opacity-8">
                                    ANY and ALL. Residential, Commercial, Healthcare, Educational,
                                    Industrial, Heavy Civil, Institutional, and Others. You name
                                    it!
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFifth">
                                <h5 class="mb-0">
                                    <button class="btn btn-link w-100 text-primary text-left" type="button"
                                        data-toggle="collapse" data-target="#collapseFifth"
                                        aria-controls="collapseFifth">
                                        <span>Will NIRMAAN360 empower me to make changes in real
                                            time?</span>
                                        <i class="ni ni-bold-down float-right pt-1"></i>
                                    </button>
                                </h5>
                            </div>
                            <div class="collapse" id="collapseFifth" aria-labelledby="headingFifth"
                                data-parent="#accordionExample">
                                <div class="card-body opacity-8">
                                    Yes! The fact that NIRMAAN360 is cloud-based is among its best
                                    features. This implies that you can make real-time
                                    modifications to project
                                    <a routerLink="/constructionOps">specs, blueprints, and other documents</a>.
                                    Everyone with access can
                                    see all file modifications,
                                    project updates, and daily conversations because they are all
                                    automatically updated.
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="section features-2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-8 mr-auto text-left">
                    <div class="pr-md-5">
                        <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle mb-5"><i
                                class="ni ni-favourite-28"></i></div>
                        <h3>Awesome features</h3>
                        <p>The kit comes with three pre-built pages to help you get started faster. You can change the
                            text and
                            images and you're good to go.</p>
                        <ul class="list-unstyled mt-5">
                            <li class="py-2">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="badge badge-circle badge-primary mr-3"><i
                                                class="ni ni-settings-gear-65"></i></div>
                                    </div>
                                    <div>
                                        <h6 class="mb-0">Carefully crafted components</h6>
                                    </div>
                                </div>
                            </li>
                            <li class="py-2">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="badge badge-circle badge-primary mr-3"><i class="ni ni-html5"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <h6 class="mb-0">Amazing page examples</h6>
                                    </div>
                                </div>
                            </li>
                            <li class="py-2">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="badge badge-circle badge-primary mr-3"><i
                                                class="ni ni-satisfied"></i></div>
                                    </div>
                                    <div>
                                        <h6 class="mb-0">Super friendly support team</h6>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 pl-md-0">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="info text-left bg-info shadow">
                                <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary"><i
                                        class="ni ni-satisfied text-info"></i></div>
                                <h5 class="info-title text-white">Best Quality</h5>
                                <p class="description">What matters is the people who are sparked by it. And the people
                                    who are like
                                    offended by it.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="info text-left bg-danger info-raised shadow">
                                <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary"><i
                                        class="ni ni-palette text-danger"></i></div>
                                <h5 class="info-title text-white">Awesome Design</h5>
                                <p class="description">Because it's about motivating the doers. Because I’m here to
                                    follow my dreams and
                                    inspire the world.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="info text-left bg-default shadow">
                                <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary"><i
                                        class="ni ni-spaceship text-default"></i></div>
                                <h5 class="info-title text-white">Great Performance</h5>
                                <p class="description">There’s nothing I really wanted to do in life that I wasn’t able
                                    to get good at.
                                    We’re constantly growing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="info text-left bg-primary shadow">
                                <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary"><i
                                        class="ni ni-planet text-primary"></i></div>
                                <h5 class="info-title text-white">Fast Development</h5>
                                <p class="description">I always felt like I could do anything. That’s the main thing
                                    people are
                                    controlled by the force!</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="info text-left bg-warning info-raised shadow">
                                <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary"><i
                                        class="ni ni-glasses-2 text-warning"></i></div>
                                <h5 class="info-title text-white">Super Fresh</h5>
                                <p class="description">Thoughts- their perception of themselves! They're slowed down by
                                    their perception
                                    of themselves.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="info text-left bg-success shadow">
                                <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary"><i
                                        class="ni ni-notification-70 text-success"></i></div>
                                <h5 class="info-title text-white">Organized Content</h5>
                                <p class="description">If you're taught you can’t do anything, you won’t do anything. I
                                    was taught I
                                    could do everything.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->