<div class="wrapper">
    <header class="header-5 homeBG">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" routerLink="//">
                    <img src="../../assets/images/SalesGenius (2)crop.png"
                        style="padding-right: 5px; padding-bottom: 5px" /> <img
                        src="../../assets/images/SalesGenius (1)crop.png"
                        style="padding-right: 5px; padding-bottom: 5px" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-primary"
                    aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-primary">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                                <a routerLink="//">
                                    <img src="../../assets/images/SalesGenius (2)crop.png" />

                                    <b class="text-primary">SalesGenius</b></a>
                            </div>
                            <div class="col-6 collapse-close">
                                <button type="button" class="navbar-toggler" data-toggle="collapse"
                                    data-target="#navbar-primary" aria-controls="navbar-primary" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                    <span></span>
                                    <span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/"><b>Home</b></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" routerLink="/services-details"><b>Services</b></a>
                        </li>
                        <!-- <li class="nav-item">
                        <a class="nav-link" routerLink="/how-to-use"><b>How TO Use</b></a>
                    </li> -->

                        <!-- <li class="nav-item ml-2 mt-3">
              <a class="nav-link-warning" routerLink="/login"><b>Log in</b></a>
            </li> -->
                    </ul>
                </div>
            </div>
        </nav>
        <div class="section features-2">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-8 mr-auto text-left">
                        <div class="pr-md-5">

                            <h3 class="text-white"><b>Awesome Services</b></h3>
                            <p class="text-white"> The kit comes with numbers pre-built services to help you get started
                                faster.
                                You can change the
                                text and
                                images and you're good to go.</p>
                            <ul class="list-unstyled mt-5">
                                <li class="py-2">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <div class="badge badge-circle badge-primary mr-3"><i
                                                    class="ni ni-settings-gear-65"></i></div>
                                        </div>
                                        <div>
                                            <h6 class="mb-0 text-white">Carefully crafted components</h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <div class="badge badge-circle badge-primary mr-3"><i
                                                    class="ni ni-html5"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <h6 class="mb-0 text-white">Amazing page examples</h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <div class="badge badge-circle badge-primary mr-3"><i
                                                    class="ni ni-satisfied"></i></div>
                                        </div>
                                        <div>
                                            <h6 class="mb-0 text-white">Super friendly support team</h6>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 pl-md-0">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="info text-left bg-red shadow">
                                    <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-red"><i
                                            class="ni ni-satisfied text-red"></i></div>
                                    <h5 class="info-title text-white">Age Distribution</h5>
                                    <p class="description">It provides a snapshot of the different age
                                        cohorts within a given population and is a critical factor in understanding a
                                        society's dynamics and potential challenges.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="info text-left bg-danger info-raised shadow">
                                    <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary"><i
                                            class="ni ni-palette text-danger"></i></div>
                                    <h5 class="info-title text-white">Income Distribution</h5>
                                    <p class="description">Income distribution can vary significantly between different
                                        regions and countries. In some cases, it may exhibit a relatively equal
                                        distribution, resulting in a flatter curve.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="info text-left bg-default shadow">
                                    <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary"><i
                                            class="ni ni-spaceship text-default"></i></div>
                                    <h5 class="info-title text-white">Spending Distribution</h5>
                                    <p class="description">Spending distribution refers to the allocation or dispersion
                                        of
                                        expenditures within a given context, such as a household budget, company
                                        finances,
                                        or government expenditures.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="info text-left bg-green shadow">
                                    <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-green"><i
                                            class="ni ni-planet text-green"></i></div>
                                    <h5 class="info-title text-white">Complains Distribution</h5>
                                    <p class="description">Complaint distribution refers to the way in which complaints
                                        or
                                        grievances are spread or allocated across various categories, issues, or
                                        departments
                                        within an organization.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="info text-left bg-warning info-raised shadow">
                                    <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary"><i
                                            class="ni ni-glasses-2 text-warning"></i></div>
                                    <h5 class="info-title text-white">Web Visit Analysis</h5>
                                    <p class="description">Web visit analysis, often conducted through web analytics
                                        tools,
                                        involves examining and interpreting data related to the traffic and behavior of
                                        visitors on a website.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="info text-left bg-success shadow">
                                    <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary"><i
                                            class="ni ni-notification-70 text-success"></i></div>
                                    <h5 class="info-title text-white">And Many More...</h5>
                                    <p class="description">
                                        some other services are going to be launched soon.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>